__pycache__/
*.pyc
*.pyo
*.pt
*.joblib
.env
*.ipynb_checkpoints
*.pdf

saved_model/*.pt
saved_model/*.joblib
!saved_model/README.md

data/
test/
train/

docker-start.sh
docker-stop.sh

.DS_Store
*.log
.vscode/
.idea/
